/* Declaring custom properties */
* {
  box-sizing: border-box;

  /* border: thin solid green ; */
}

.header {
  background-color: rgba(48,48,48,255);
  height: 30px;
  width: 100%;
}


.carrito {
  vertical-align: middle;
  margin-left: 1600px;
  max-height: 25px;
  max-width: 160px;
  height: 50px;
  width: 50px;

}

.espacio2 {
  background-color: rgba(69,69,69,255);
  height: 128px;
  width: 100%
}


.royal {
  height: 128px;
margin-left: 200px;
}


#menu {
  background-color: rgba(248,248,248,255);
  color: black;
  text-align: center;
  padding-left: 100px:


}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

#menu > ul > li {
  display: inline-block;
  padding: 0.99em;
  text-align: middle;

}


#banner {
  padding: 1em;
}

.back img {
  width: 100%;
  height: 600px;

}

.back {
  position: relative;

}


/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
font-size: 16px;
}


.bloque {
  width: 360px;
  height: 300px;
  background-color: black;
  position: absolute;
  top: 30%;
  right: 41px;
  left: 730px;
  filter: opacity(80%);

}

.centered2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
font-size: 20px;
}


.bloque2 {
  width: 160px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  filter: opacity(30%);
  top: 57%;
  right: 44px;
  left: 843px;
}


.frase1 {
  width: 1000px;
  height: 300px;
color: white;
  top: 90%;
  right: 41px;
  left: 500px;
  position: absolute;
  font-size: 20px;
}

.frase2 {
  width: 1000px;
  height: 300px;
color: white;
  top: 96%;
  right: 41px;
  left: 570px;
  position: absolute;
  font-size: 20px;
}

.ladrillo {
  width: 100%;
  height: 230px;
}

.fondo2 img{

  width: 100%;
  height: 200px;
  position: relative;

}

.portland {
  text-align: center;
}

.fotoport {
  width: 300px;
}

.frase3 {
  color: black;
}

.fraseazul {
color: blue;
text-align: center;
}

.numero {
  text-align: center;
}


.partegris {
  position: relative;
  background-color: rgba(234,234,234,255);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.tick {
  width: 50px;

}

.frase {
  color: black;
}

.frase1cons{
  color black;
}

.frase2cons{
  color: gray;
}

.constructor17{
  width: 140px;

}

.banderaa{
  width: 140px;
  display:block;
  margin:auto;
  top: auto;

}
.frasebandera1{
  color: black;
  text-align: center;

}

.frasebandera2{
  color: gray;
  text-align: center;
}

.tikk10 {
  width: 140px;
  right: 20px;

}
.frasetik1{
  color: black;

}
.frasetik2{
  color: gray;

}


.partegris {
  position: relative;
  background-color: rgba(234,234,234,255);
  width: 200%;
  height: 450px;
    }


  .titulo1{
  top: 100px;
  margin-left: 4%;
font-size: 33px;
}


.texto1 {

  margin-left: 10%;
  margin-top: 40px;

}


.texto2 {
  margin-left: 30%;
  margin-top: -310px;
}


.nombre1 {
margin-left: -120%;
top: 20px;
}
